:root {
    --main-bg-color: rgb(80, 180, 180);
    --main-font: "mplus", sans-serif;
    --title-font: "Anthony", "Syne Mono", garamond;
}

@font-face {
    font-family: "Anthony";
    src:
        local("Anthony"),
        url("../assets/fonts/anthony-webfont.woff") format("woff");
}

@font-face {
    font-family: "mplus";
    src:
        local("mplus"),
        url("../assets/fonts/mplus-1m-regular.woff") format("woff");
}

body {
    font-family: var(--main-font);
    font-weight: 400;
    font-style: normal;
    background-color: var(--main-bg-color);
}

header {
    font-family: var(--title-font);
    text-align: center;
}

footer {
    text-align: center;
}

.zine-list {
    display: flex-column;
    flex-wrap: wrap;
    justify-content: center;
}

.zine {
    background-color: white;
    padding: 40px;
    margin: 10px;
    border-radius: 10px;
}

.cover {
    width: 300px;
    height: auto;
}
