:root {
    --main-bg-color: #111111;
    --main-color-white: #faf9f6;
    --main-color-green: #00ff00;
    --main-color-purple: #5a67d8;
    --main-font: "mplus", sans-serif;
    --title-font: "Anthony", "Syne Mono", garamond;
}

/*Background: #111111*/
/*Purple: #5a67d8*/
/*Green: #00ff00*/
/*White: #FAF9F6*/

@font-face {
    font-family: "Anthony";
    src:
        local("Anthony"),
        url("../assets/fonts/anthony-webfont.woff") format("woff");
}

@font-face {
    font-family: "mplus";
    src:
        local("mplus"),
        url("../assets/fonts/mplus-1m-regular.woff") format("woff");
}

body {
    font-family: var(--main-font);
    font-weight: 400;
    font-style: normal;
    color: white;
    background-color: var(--main-bg-color);
}

header {
    text-align: center;
}

footer {
    text-align: center;
    font-size: 0.8rem;
    margin: 40px 40px;
}

h1,
h2,
h3 {
    font-family: var(--title-font);
}
p {
    font-family: var(--main-font);
}
.zine-list {
    display: flex-column;
    flex-wrap: wrap;
    justify-content: center;
}

.zine {
    background-color: var(--main-bg-color);
    padding: 40px;
    margin: 10px;
    border-bottom: 1px dashed var(--main-color-white);
}

.cover {
    width: 300px;
    height: auto;
    border-radius: 5px;
    box-shadow: 10px 4px 10px var(--main-color-purple);
}
